.SaleScreen{
  .HeaderContainer{
    @apply border-b h-16 bg-white flex items-center px-4 gap-4 w-full fixed top-0;
    .HomeBtn{
      @apply bg-blue-500 text-white text-2xl p-2 rounded-md;
    }
  }

  .ContentContainer{
    @apply pt-16;
    height: 100vh;
    display:  grid;
    grid-template-columns: 1fr 300px;
    .CatalogeContainer{
      @apply overflow-hidden;
    }
    .ReceiptContainer{
      display: grid;
      grid-template-rows: 750 64px 1fr;

      @media screen and (max-width: 1400px) {
        grid-template-rows: 650px 64px 1fr;
      }
      @media screen and (max-width: 1200px) {
        grid-template-rows: 600px 64px 1fr;
      }
    
      @apply border-l;
      .ReceiptLineContainer{
        @apply overflow-scroll pb-32 relative;
      }

      .FunctionContainer{
        @apply grid grid-cols-4 p-1 gap-1;
        button{
          @apply border text-sm;
        }
      }
    }
  }
}